@{
    ViewBag.Title = "Home Page";
}

@foreach (var b in ViewBag.Hell)
{
    <tr>
        <td><p>@b.Name</p></td>
        <td><p><a href="/Home/Edit/@b.Id">Редактировать</a></p></td>
        <td><p><a href="/Home/Delete/@b.Id">Удалить</a></p></td>
    </tr>
}
<a href="/Home/Add/">Добавить</a>