@{
    ViewBag.Title = "Home Page";
}

@foreach (var b in ViewBag.Hell)
{
    <tr>
        <td><p><a href="/Home/Add/@b.Id">Купить</a></p></td>
        <td><p>@b.Name</p></td>
        <td><p><a href="/Home/Delete/@b.Id">Удалить</a></p></td>
    </tr>
}

<form method="post" action="">
    <table>
        <tr>
            <td><p>Введите свое имя </p></td>
            <td><input type="text" name="Name" /> </td>
        </tr>
        <tr>
        </tr>
        <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
    </table>
</form>