@{
    ViewBag.Title = "Home Page";
}

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">У нас есть то, что вам нужно!</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Благодаря обширному опыту наших специалистов мы поможем вам на всех этапах: от формирования требований до ввода системы в эксплуатацию и последующей поддержки.</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Начнем!</a>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Наши услуги</h2>
            <hr class="my-4">
        </div>
    </div>
</div>
<a href="/Home/Add/">Добавить</a>

<div class="container">
    <div class="row">

        @foreach (var b in ViewBag.Hell)
        {
            <div class="col-lg-3 col-md-6 text-center about-block1">               
                <div class="product-item">
                    <img src="@Url.Content("/Content/images/" + @b.FileUrl)" class ="item_img" alt=""  height="200">
                    <div class="item-info">
                        <h3>@b.Name</h3>
                        <strong class="price">@b.Price (руб.)</strong><br />
                        <a class="btn btn-light btn-xl" href="/Home/Detail/@b.Id">Купить!</a>
                    </div>
                </div>
             </div>
        }


    </div>
</div>
